.main {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 6rem;
  min-height: 30vh;
}

.topheader {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.topheaderitem {
  margin-bottom: 0.05em; 
}

.footer {
  display: flex;
  flex-direction: column;
  margin-top: auto;
  text-align: center;
  width: 100%;
}

.borderCircle {
  border-radius: 9999px;
}